body{
    color: white;
    font-family: 'Jura', sans-serif;
    font-weight:900;
}

/* ============ Header ============ */
header{
    background-image: url('../images/background2.jpeg');
    background-size:cover;
    height: 100vh;
}

.nav-div{
    display: flex;
    justify-content: flex-end;
}

nav{
    display: flex;
    justify-content:space-around;
    width: 30em;
    margin-top: 15px;
}

.header-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30em;
    margin:100px 0 0 100px;
    height: 500px;
    flex-wrap: wrap;
}

.content h1{
    color: white;
}

#me{
    height:12em;
    border:3px solid white;
    border-radius: 50%;
    margin-bottom: 75px;
}

#dogs{
    height:12em;
    border:3px solid white;
    border-radius: 50%;
}

/* ============ About ============ */
#about{
    color:black;
    height: 100vh;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 70em;
    margin-left: 15em;
    height: 40em;
    justify-content: space-between;
}

.list-div{
    display: flex;
    width: 20em;
    height: 6em;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: "*";
    flex-direction: column;
    justify-content: space-between;
}

/* ============ Projects ============ */
#projects{
    color:white;
    background-color: black;
    height:100vh;
}

.card{
    max-width:300px;
}

h2{
    text-align: center;
    font-size:40px;
}

#card-div{
    display:flex;
    justify-content:space-evenly;
    margin-top: 20px;
    align-items: flex-start;
}

.card-footer{
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: rgb(152, 152, 152);
}

.card-footer:hover{
    background-color: white;
    color:black;
}

.card-footer-item{
    text-decoration:none;
    color:black;
}

.card-footer-item:hover{
    text-decoration:none;
    color:black;
}

/* ============ Skills & Languages ============ */
#skills-languages{
    height:100vh;
}

#skills{
    color:black;
}

.progress-bars{
    color: black;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items:center;
    margin-top: 50px;
}

.bar-sections{
    width:500px;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

progress::-webkit-progress-value {
    background-color: rgba(4, 0, 105, 0.999) !important;
}

progress::-webkit-progress-bar {
    background-color: rgb(219, 215, 215) !important; 
}

.bar-labels{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* ============ Footer ============ */
footer{
    background-color: black;
}

