body{
    color: black;
    font-family: 'Jura', sans-serif;
    font-weight:900;
    background-color: rgb(255, 255, 255);
}

/* ============ Header ============ */
header{
    height: 100vh;
    background-image: url(../images/gif4.gif);
    background-size:cover;
}

.nav-div{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 50em;
    height: 3em;
    margin-top: 20px;
    margin-right:15px;
}

.header-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.header-link:hover{
    color:#8ca831;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:14em;
    color:white;
}

nav a{
    border: 2px solid white;
    background-color: black;
    border-radius: 1em;
    padding: .2em;
}

.content h1{
    color: white;
    background-color: black;
    font-size: 70px;
    font-weight:bolder;
}

.content p{
    background-color: black;
    font-size: 25px;
    width: 25em;
    text-align: center;
}

#next-btn{
    background-color: black;
    border-radius: .5em;
    font-size: 27px;
    padding: .2em .3em .2em .3em;
    color:white;
    margin-top: 1em;
}

#next-btn:hover{
    color:#8ca831;
}

/* ============ About ============ */
#about{
    color:black;
    height: 90vh;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 70em;
    margin-left: 15em;
    height: 40em;
    justify-content: space-evenly;
}

.title{
    color: black;
    font-size: 40px;
}

.about-me-p{
    font-size: 18px;
}

.list-div{
    display: flex;
    width: 20em;
    height: 6em;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: "*";
    flex-direction: column;
    justify-content: space-between;
}

/* ============ Projects ============ */
#projects{
    color:black;
    /* background-color: #606C38; */
    height:100vh;
}

.card{
    max-width:300px;
}

h2{
    text-align: center;
    font-size:50px;
}

#card-div{
    display:flex;
    justify-content:space-evenly;
    margin-top: 20px;
    align-items: flex-start;
}

.card-footer{
    display: flex;
    justify-content: center;
    background-color: white;
}

.card-footer-item{
    text-decoration:none;
    color:black;
}

.card-footer-item:hover{
    text-decoration:none;
    background-color: #283618;
    color:white;
}

/* ============ Footer ============ */
#foot{
    background-color: black;
    color: #FEFAE0;
    height: 30em;
}

.label{
    color:white ;
}

#contact-form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right:3em;
    margin-top: -20em;
}

#form-container{
    display:flex;
    flex-direction: column;
    width:40em;
    height: 22em;
    justify-content: space-evenly;
}

#form-header{
    padding-right: 14em;
    font-weight: 900;
    color:white ;
}

#name-input{
    width:230px;
}

#from-label{
    margin-left: 68px;
}

#link-list{
    display: flex;
    flex-direction: column;
    width:15em;
    margin-left: 3em;
    height: 20em;
    justify-content: space-around;
}

.footer-links{
    border:1.5px solid #FEFAE0;
    border-radius: 50%;
}

.link-list-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

